Repository Pierro7430/gamer-id, pull requests merged in 2023-04, with the labels that each got.

#11 Feature/setup frontend
  gi-frontend/package-lock.json
  gi-frontend/package.json
  gi-frontend/src/.npmrc
  gi-frontend/src/App.css
  gi-frontend/src/App.js
  gi-frontend/src/App.test.js
  gi-frontend/src/LICENSE
  gi-frontend/src/blocks/formlogin.jsx
  gi-frontend/src/components/button.jsx
  gi-frontend/src/components/input.jsx
  gi-frontend/src/images/logo.svg
  gi-frontend/src/index.css
  gi-frontend/src/index.js
  gi-frontend/src/styles/App.scss
  gi-frontend/src/styles/base/_init.scss
  gi-frontend/src/styles/base/_mixins.scss
  gi-frontend/src/styles/base/_reset.scss
  gi-frontend/src/styles/base/_variables.scss
  gi-frontend/src/styles/blocks/_formlogin.scss
  gi-frontend/src/styles/components/_button.scss
  gi-frontend/src/styles/components/_input.scss
  gi-frontend/src/styles/utilities/_helpers.scss
Labels: front

#12 Added User model and CRUD operations with signup and login using bcry…
  gi-backend/.gitignore
  gi-backend/.yo-rc.json
  gi-backend/package-lock.json
  gi-backend/package.json
  gi-backend/public/index.html
  gi-backend/src/application.ts
  gi-backend/src/controllers/user.controller.ts
  gi-backend/src/datasources/index.ts
  gi-backend/src/datasources/postgresql.datasource.ts
  gi-backend/src/index.ts
  gi-backend/src/models/credentials.model.ts
  gi-backend/src/models/user.model.ts
  gi-backend/src/repositories/user.repository.ts
  gi-backend/src/services/email.service.ts
  gi-backend/src/services/jwt-service.ts
  gi-backend/src/services/password-hasher.ts
  gi-backend/src/utils/validation.ts
  gi-backend/tsconfig.json
Labels: enhancement

#13 feat: add auth with steam and request profile steam
  gi-backend/package-lock.json
  gi-backend/package.json
  gi-backend/src/application.ts
  gi-backend/src/controllers/index.ts
  gi-backend/src/controllers/steam.controller.ts
  gi-backend/src/controllers/user.controller.ts
  gi-backend/src/models/index.ts
  gi-backend/src/models/steam-user.model.ts
  gi-backend/src/models/user.model.ts
  gi-backend/src/repositories/index.ts
  gi-backend/src/repositories/steam-user.repository.ts
  gi-backend/src/services/steam.service.ts
Labels: feature, backend
